
 
 


<ion-content  class="fondo"  >
  <ion-header class="ion-no-border">
    <ion-toolbar >
      <ion-buttons slot="start" class="boton-trans">
        <ion-back-button defaultHref="/" color="light"  mode="md" text="" ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <br>
  <br>

  <div style="margin: 20px;">

    <ion-list class="ion-padding">

    <ion-title class="ion-text-center" color="light">
      <h1>Restablecer contraseña</h1>
    </ion-title>

    <ion-text color="light" >
      <br><b>Ingrese el correo electronico con el que se creo su cuenta</b>
    </ion-text>

      

      <ion-item fill="outline">
        <ion-label position="floating"  color="light">Correo electronico</ion-label>
        <ion-input placeholder="email@domain.com" type="email"></ion-input>
      </ion-item>
      <br>

      
      <ion-button  expand="block" fill="solid" shape="round" >
        enviar
      </ion-button>
      

      

    </ion-list>
  
  </div>

  

  
  


</ion-content>
